.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #262626; */
}

.form-box {
  width: 70%;
}
.form-box h1 {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 0.6px;
}
.form-box form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
}
.form-group label {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.5px;
}
.form-group input {
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 8px 20px;
  border: 1px solid lightslategray;
  border-radius: 2px;
  background-color: #2f2c2c;
  width: 100%;
  /* background-color: #1a2029; */
}

.form-group .icon-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.form-group .icon-group .icon-btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
}
.form-group .icon-group .icon-btn .icon {
  height: 31px;
  width: 31px;
}

.range-input--container {
  display: flex;
  width: 100%;
  gap: 18px;
}
.range-input--container input[type='text'] {
  width: 40px;
  font-size: 24px;
  padding: 4px;
}
.range-input--container input[type='range'] {
  /* flex: 1; */
  width: 70%;
  /* -webkit-appearance: none; */
}

.form__button-edit {
  padding-block: 6px;
  width: 15%;
  align-self: flex-end;
  font-size: 20px;
  font-weight: 500;
  color: aliceblue;
  background-color: #1a2029;
  border-radius: 12px;
  padding-block: 8px;
  border: none;
}
.form__button-edit > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.form__button {
  padding-block: 6px;
  width: 60%;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
}
.link__record {
  font-size: 24px;
}
.link__record-container {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-block: 24px;
}
/* padding-block: 8px; */

/* utility */
.pt-4 {
  margin-top: 24px;
}
