.register-container {
  width: 400px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 10rem;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.register-container h1 {
  text-align: center;
  color: antiquewhite;
  font-size: 3rem;
}

.register-container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.register-container fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  gap: 1rem;
}
.register-container fieldset label {
  position: absolute;
  color: whitesmoke;
  text-transform: capitalize;
  font-size: 16px;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.register-container fieldset input {
  padding: 6px;
  padding-block: 9px;
  font-size: 16px;
  background: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid #fff;
  outline: none;
}
.register-container fieldset input:hover {
  background: rgba(0, 0, 0, 0.2);
}
.register-container fieldset input:focus ~ label,
.register-container fieldset input:valid ~ label {
  font-size: 12px;
  top: -10px;
  color: #03e9f4;
}

.register-container .btn {
  width: 300px;
  border: none;
  color: whitesmoke;
  margin: 0 auto;
  padding-block: 10px;
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
  border-radius: 4px;
}
.register-container .btn:hover {
  background-image: -webkit-linear-gradient(top, #6ea8de, #4a61d4);
}
.register-container a {
  cursor: pointer;
}

.demo__app {
  border: none;
  font-size: 24px;
  background-color: transparent;
  font-weight: 500;
  color: #646cff;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  transition: color 150ms ease;
}
.demo__app:hover {
  color: #535bf2;
}
